@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: meua;
    src: url('src/PPNeueMachina-PlainRegular.ttf');
}
:root{
    --black: #000;
    --white: #f4f4f5;
    --cyan: #AEDEE0;
    --zinc: #27272a;
    --blackTxt: white;
    --whiteTxt: #000000c7;
    --cyanTxt: #13383a;
    --zincTxt: #ebebeb;
    --whiteInpBg: #e9e9e9;
    --zincInpBg: #3f3f46;
}

body[theme='black'] {
    background: var(--black);
}
body[theme='black'] .section, 
body[theme='black'] header {
    color: var(--blackTxt);
}
body[theme='cyan'], 
body[theme='cyan'] header, 
body[theme='cyan'] .apply {
    background: var(--cyan);
}
body[theme='cyan'] .section, 
body[theme='cyan'] .apply {
    color: var(--cyanTxt);
}
body[theme='zinc'], 
body[theme='zinc'] header, 
body[theme='zinc'] .apply {
    background: var(--zinc);
}
body[theme='zinc'] .section,
body[theme='zinc'] header, 
body[theme='zinc'] .apply {
    color: var(--zincTxt);
    border-color: #D8D8D5;
}
body[theme='white'],
body[theme='white'] header, 
body[theme='white'] .apply {
    background: var(--white);
    border-color: var(--zinc);
}
body[theme='white'] .section,
body[theme='white'] .apply {
    color: var(--whiteTxt);
}
body[theme='white'] .inp{
    background: var(--whiteInpBg);
    color: #000;
}
body[theme='zinc'] .inp{
    background: var(--zincInpBg);
    color: var(--zincTxt);
}
body[theme='black'] .listIcon{
    background: white;
}
body[theme='cyan'] .listIcon{
    background: #002224;
}
body[theme='white'] .loopTop {
    background: linear-gradient(to left, transparent , #f4f4f5);
}
body[theme='zinc'] .loopTop {
    background: linear-gradient(to left, transparent ,var(--zinc));
}
.cardImg{
    filter: hue-rotate(220deg);
    opacity: 0.7;
    mix-blend-mode: difference;
}
.layer1{
    clip-path: circle(var(--circ) at 50% 47%);
}
body, .loopTop, .listIcon, .inp, .apply, .section, header {
    transition: color ease-in 0.2s, background-color ease-in 0.2s; 
}
.transCard{
    background-color: #0b2425;
    color: #AEDEE0;
    transition: ease-in-out 2s background-color;
}
.socialTrans:hover{
    scale: 1.15;
    transition: ease-out 0.2s scale;
}
.loop>div{
    font-weight: 400;
    animation: move 20s linear infinite
}
@keyframes move {
    0%{
        transform:  translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@font-face {
    font-family: sauda;
    src: url('src/Saudagar.ttf');
}
@font-face {
    font-family: scream;
    src: url('src/SCREAMOU.TTF');
}
.nixipixi span{
    margin: 0 0;
}
@media (max-width: 500px) {
    .nixipixi span {
        margin: 0 -8px;
    }
}